<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SwiftPayRoll.Properties.Settings.swiftpayroll" connectionString="server=localhost;user id=root;database=swiftpayroll"
            providerName="MySql.Data.MySqlClient" />
        <add name="SwiftPayRoll.Properties.Settings.swiftpayrollConnectionString"
            connectionString="server=localhost;user id=root;password=1234;persistsecurityinfo=True;database=swiftpayroll"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>